{% extends 'base.html' %}
{% block title %}Add Album{% endblock %}
{% block content %}
<body>
    <h2>Add an Album</h2>
    <form method="POST">
        <div class="add-edit-album-form">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="button-links">
            <a href="{% url 'add-album' %}">add album</a>
        </div> 
        <div class="button-links">
            <a href="{% url 'post-album-list' %}">home</a>
        </div>     
    </form>
</body>
{% endblock %}