{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content%}
<body>
    <h2>My albums</h2>
    <div class="button-links">
        <a href="{% url 'add-album' %}">add album</a>
    </div>
        
    </p>
    <div id="container-box">
        {% for album in albums %}
        <article class="card">
            <footer>
                <p class='album-title'><a href="{% url 'album-detail' album.pk %}">{{album.title}}</a></p>
                    <button class="favorite">Favorite</button>
            </footer>
        </article>
        {% endfor %}
    </div> 
</body>
{% endblock %}