
* {
    font-family: fantasy;
    
}

#container-box {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    width: 300px;
    height: 150px;
    margin: 10px; 
    background-color: azure;
}

.favorite {
    font-size: 10px;
    margin: auto; 
}
.primary th {
    background-color: #41023d;
    margin-left: 20px;
}

.primary {
    margin-left: 20px;
    margin-top: 20px;
}

h2 {
    margin-left: 20px;
}

.album-title {
    font-size: 16px;
    margin: auto;
    padding: 20px, 0px; 
}

.submit-button {
    background: #b4e38f; 
}

.add-edit-album-form {
    display: flex;
    flex-direction: column;
    width: 50%; 
    margin-left: 20px;
}


.button-links {
    background-color:  #f7e360;
    margin-left: 20px;
    margin-bottom: 20px; ;
    padding: 5px;
    width: 34%; 
    border-radius: 0.5em;
    text-align: center;  
}