{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Albums</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h2>My albums</h2>
    <p class='homepage-add-album'><a href="{% url 'add-album' %}"</a>
        <button class="homepage-add-button">Add new album</button>
    </p>
    <div id="container-box">
        {% for album in albums %}
        <div class="album-card">
            <p class='album-title'><a href="{% url 'album-detail' album.pk %}">{{album.title}}</a></p>
        </div>
        {% endfor %}
    </div>
    
</body>
</html>